[Unit]
Description=Motion Detecting Power Saver
After=syslog.target

[Service]
ExecStart=/home/pi/process_motion/process_motion_wrapper
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
